{% include "./navbar.html" %}
{%for item in product_list%}
<div class="container">

  <div class="row">
    <div class="col bg1">
        <img src="{{ item.image }}"  class="img1" style="height:90%;" alt="product"/>
    </div>
    <div class="col bg2">
      <div class="row row1">
        <h1>{{item.product_name}}</h1>
      </div>
      <div class="row row2">
        <h2>Description</h2>
        <p class="details">
            {{item.description}}</p>
          <p >price : {{item.price}}
          <br>
              Quantity : {{item.quantity}}
          <br>
          Seller : {{item.seller_name}}
          </p>
      </div>
    </div>
  </div>

</div>
 {% endfor %}
